body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
    background-image: url("ww.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px;
    background: gray;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
    color: aliceblue;
}

.nav-right a {
    margin-left: 15px;
    text-decoration: none;
    color: azure;
    padding: 14px 16px;
}

.nav-right a:hover {
    background-color: black;
    border-radius: 10px;
}

.menu {
    display: flex;
    gap: 15px;
    background: gray;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 14px 16px
}

.menu a:hover {
    background-color: black;
    border-radius: 10px;

}

.form1 {
    display: flex;
    gap: 20px;
}

.divbesides {
    display: flex;
    flex-direction: column;
}

select {
    width: 80px;
    padding: 0;
    font-size: 14px;
}

button {
    background-color: gray;
    color: azure;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

button:hover {
    background-color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background: gray;
    margin-top: 20px;
    color: aliceblue;
}