body{
    background-color: yellow;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background-color: navy;
    font-size: 20px;
} 
header a{
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 10px;
    margin-right: 5px;
}

.nav1 ul{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: 97%;
    background-color: #f1f1f1;
    border: 1px solid black;
    border-radius: 25px;
}
.nav1 li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav1 li a:hover{
    background-color: navy;
    color: aliceblue;
    border-radius: 25px;
}

.logo{
    width: 290px;
    height: 150px;
    margin: 0px;
}

.image-container img {
    width: 100;
    height: auto;
    margin-bottom: 20px;
    margin-left: 15px;
}

h2, p{
    margin-left: 15px;
}