body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gold;
    margin: 0;
}

.container{
    position: relative;
    width: 50%;
    max-width: 300px;
}

img {
    height: auto;
    border: 2px solid black;
    background-color: aliceblue;
}

.overlay{
    position:absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0, 0.5);
    color:gray ;
    width: 712px;
    transition: .5s ease;
    opacity: 0;
    color: aliceblue;
    font-size: 20px;
    padding:  20px;
    text-align: center;
}

.container:hover .overlay{
    opacity: 1;
}

.header {
    overflow: hidden;
    background-color: blue;
    padding: 20px 10px;
    color: aliceblue;
    display: flex;
}

button {
    background-color: blue;
    border: none;
    padding: 10px 32px;
    color: whitesmoke;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 21px;
    margin-left: 900%;
}

button:hover {
    background-color: gold;
}

.divbox {
    width: 100px;
    padding: 10px;
    margin: 0;

}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid;
}

.mainproduct {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 70px;
}

.mainproduct figure {
    margin: 0;

}

.divbox {
    text-align: center;
    padding: 5px;
    text-decoration: none;
}


.divsimilar {
    display: flex;
    gap: 45px;
    margin-left: 65px;
}