*{
    padding: 0;
    margin: 0;
}

body{
    background-color: paleturquoise;
    padding: 200px 300px 0 300px;
    font-size: 1.4rem;
}

.utama{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    text-align: center;
}

table{
    width: 100%;
}

.beli{
    background-color: cadetblue;
    border-radius: 3px;
    padding: 10px 70px 10px 70px;
    transition: .2s;
    outline: none;
    border: none;
    display: flex;
    gap: 5px;
}

.beli:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.buang{
    background-color: cadetblue;
    border-radius: 3px;
    padding: 10px 70px 10px 70px;
    transition: .2s;
    outline: none;
    border: none;
    display: flex;
    gap: 5px;
}

.buang:hover{
    cursor: pointer;
    background-color: greenyellow;
}

.pertama{
    background-color: olivedrab;
    padding: 30px;
}

.kedua{
    background-color: olive;

}

.list-kedua{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.kedua-padding{
    padding: 20px;
}

.total{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 30px;
}

th, td{
    padding: 15px;
}

.bold{
    font-weight: bold;
}

h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}