body {
    position: relative;
    margin: 0;
    height: 100vh;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    z-index: -1;
}

.about-us {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 20px;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark overlay */
}

.person {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #333;
    border-radius: 15px;
    padding: 20px;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    color: white;
}

.person:hover {
    transform: scale(1.05);
    border-color: #e50914;
}

.person img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 5px;
}

.person h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.person p a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}

.person p a:hover {
    text-decoration: underline;
}

.person blockquote {
    margin-top: 10px;
    font-style: italic;
    font-size: 0.95rem;
    color: #ccc;
}