body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #141414;
    color: #fff;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
  }
  
  .main-header h1 {
    color: #e50914;
    font-size: 1.8rem;
  }

  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #e50914;
  }

  .explain{
    justify-items: center;
    margin-top: 90px;
    gap: 10px;
  }
  
  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #e50914;
    border: 2px solid #e50914;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: red;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: black;
    scale: 1.1;
    box-shadow: 0 0px 20px bl;
  }
  
  .button:active {
    scale: 1;
  }

  a:link{
    text-decoration: none;
    color: #fff;
  }

  a:hover{
    color: #141414;
  }

  .buttons a:link{
    color: #141414;
  }

  .last{
    text-align: center;
  }

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  border-left: 5px solid  red;
  padding: 15px 20px;
  margin: 20px auto;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.bold{
  font-weight: bold;
}