body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #141414;
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000;
}

.main-header h1 {
  color: #e50914;
  font-size: 1.8rem;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #e50914;
}

.featured {
  background: url('background.jpg') no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: flex-end;
  padding: 60px 40px;
  color: white;
}

.featured-content {
  max-width: 400px;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
}

.featured-content h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.featured-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.buttons button {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.buttons .list {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.buttons button:hover {
  opacity: 0.8;
}

.carousel {
  padding: 40px;
}

.carousel h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.card {
  min-width: 180px;
  height: 100px;
  background: #333;
  color: white;
  border-radius: 10px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.3s ease;
  text-align: center;

}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}


.card:hover {
  transform: scale(1.05);
  background-color: #e50914;
  color: #fff;
}

.about-us {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
  background-color: #141414;
  flex-wrap: wrap;
}

.person {
  background-color: #000;
  border: 1px solid #333;
  border-radius: 15px;
  padding: 20px;
  max-width: 280px;
  text-align: center;
  transition: transform 0.3s ease;
}

.person:hover {
  transform: scale(1.05);
  border-color: #e50914;
}

.person img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.person h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.person p a {
  color: #e50914;
  text-decoration: none;
  font-weight: bold;
}

.person p a:hover {
  text-decoration: underline;
}

.person blockquote {
  margin-top: 10px;
  font-style: italic;
  font-size: 0.95rem;
  color: #ccc;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #141414;
}

.buttons a:link {
  color: #141414;
}

.card a{
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}